{% extends 'tasks/base.html' %}

{% block content %}

<section id="intro">
    <div class="container">
      <div class="left-col">
        <h1>Simplyfy your life and get more done.</h1>
        <p>Organize your life and complete tasks more reliably by using the right to-do app.  Take your productivity to the next level! </p>
      </div>
      <div class="right-col">
        <div class="top-box">
          <p> Let's get things done! </p>
        </div>
        <div class="form-container">
          <form method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}

                {% for error in form.non_field_errors  %}
                <p class="error-message">{{error}}</p>
                {% endfor %}

            {% endif %}

            {% for field in form  %}
                <p>{{field.label_tag}}</p>
                {{field}}

                {% for error in field.errors  %}
                <p class="error-message">{{error}}</p>
                {% endfor %}
            
            {% endfor %} 
            
            <button type="submit">Login</button>
            <p class="form-footer">Don't you have an account? <span><a href="{% url 'register' %}">Register</a></span> right here!
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content%}