{% extends 'tasks/base.html' %}

{% block content %}

<section id="intro">
    <div class="container">
      <div class="left-col">
        <h1>Simplyfy your life and get more done.</h1>
        <p>Organize your life and complete tasks more reliably by using the right to-do app.  take your productivity to the next level!  </p>
      </div>
      <div class="right-col">
        <div class="top-box">
          <p>Check it out!</p>
        </div>
        <div class="form-container">
          <form action="#">
            <div class="field-group">
              <label for="firstname">First Name</label>
              <input type="text" id="firstname" name="firstname" placeholder="First Name">
              <img src="./images/icon-error.svg" class="error-icon" alt="error-img">
              <p class="error-text">First Name cannot be empty</p>
            </div>
            <div class="field-group">
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname" name="lastname" placeholder="Last Name">
              <img src="./images/icon-error.svg" class="error-icon" alt="error-img">
              <p class="error-text">Last Name cannot be empty</p>
            </div>
            <div class="field-group">
              <label for="email">email</label>
              <input type="email" id="email" name="email" placeholder="email">
              <img src="./images/icon-error.svg" class="error-icon" alt="error-img">
              <p class="error-text">Looks like this is not an email</p>
            </div>
            <div class="field-group">
              <label for="password">password</label>
              <input type="password" id="password" name="password" placeholder="password">
              <img src="./images/icon-error.svg" class="error-icon" alt="error-img">
              <p class="error-text">password cannot be empty</p>
            </div>
            <button type="submit">Claim your free trial </button>
            <p class="form-footer">  By clicking the button, you are agreeing to our <span>Terms and Services</span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer>
  </footer>
  <script src="./main.js"></script>
{% endblock content%}