{% extends 'tasks/base.html' %}

{% block content %}

<section id="intro">
    <div class="container">
      <div class="left-col">
        <h1>Simplyfy your life and get more done.</h1>
        <p>Organize your life and complete tasks more reliably by using the right to-do app.  Take your productivity to the next level! </p>
      </div>
      <div class="right-col">
        <div class="top-box">
          <p> Try it today and let's get things done!</p>
        </div>
        <div class="form-container">
          <form method="POST">
            {% csrf_token %}
            <!-- <div class="field-group">
              <label for="username">username</label>
              <input type="text" id="username" name="username" placeholder="username">
            </div>
            <div class="field-group">
              <label for="password1">password</label>
              <input type="password" id="password1" name="password1" placeholder="password">
            </div>
            <div class="field-group">
                <label for="password2">password</label>
                <input type="password" id="password2" name="password2" placeholder="confirm password">
            </div>
             -->
            {% if form.non_field_errors %}

                {% for error in form.non_field_errors  %}
                <p class="error-message">{{error}}</p>
                {% endfor %}

            {% endif %}

            {% for field in form  %}
                <p>{{field.label_tag}}</p>
                {{field}}

                {% for error in field.errors  %}
                    <p class="error-message">{{error}}</p>
                {% endfor %}
            
            {% endfor %} 
            <button type="submit">Register</button>
            <p class="form-footer">Have you already an account? <span><a href="{% url 'login' %}">Login</a></span> right here!
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content%}

