{% extends 'tasks/base.html' %}

{% block content %}


<section id="tasks">

<div class="tasks-col">
    <div class="top-box">
        <div class="dropdown">
            {% if tasks %}
            <p> Hi <span>{{request.user|title}}</span>! You have {{ count }} task{{count|pluralize:"s"}} to do! </p>
            {% else %}
            <p> Hi <span>{{request.user|title}}</span>! No tasks to do! </p>
            {% endif %}
        <div class="dropdown-content"> 
        <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>

</div>

<div class="form-container">
    <form action="#">
        <div class="search-box">
            <input type="text" name="search-area" placeholder="Search task..." value="{{search_input}}">
            <button class="search-btn" type="submit">Search</button>
        </div>


    </form>
    <form action="{% url 'create-task' %}">
        <input class='add-btn' type="submit" value="Add" />
    </form>
</div>
{% if tasks %}

<div class="tasks-container">


    {% for task in tasks %}

    <div class="task-item">
        <div class="task-title">
            {% if task.completed %}
                <p><i><s><a href="{% url 'update-task' task.id %}">{{task.title}}</a></s></i></p>
            {% else %}
                <p><a href="{% url 'update-task' task.id %}">{{task.title}}</a></p>
            {% endif %}
        </div>
        <a class="delete-link" href="{% url 'delete-task' task.id %}">&#10005;</a>
    </div>
    <hr>
    {% endfor %}


</div>
{% endif %}

</section>

{% endblock content %}
